@model WebAppUni.ViewModels.Home.RegisterVM
@{
    this.Layout = "/Views/Shared/_SiteLayout.cshtml";
    ViewData["title"] = "About Us";
}

<link rel="stylesheet" href="~/Styles/login-register-style.css">
<main>

    <p>A website for PitStop Auto</p>
</main>