@model WebAppUni.ViewModels.Home.RegisterVM
@{
    this.Layout = "/Views/Shared/_SiteLayout.cshtml";
    ViewData["title"] = "Contact Us";
}

<link rel="stylesheet" href="~/Styles/login-register-style.css">
<main>
   
    <p>Contact us at: stu2101561065@uni-plovdiv.bg</p>

</main>