@using WebAppUni.Entities
@{
    this.Layout = "/Views/Shared/_SiteLayout.cshtml";
    ViewData["title"] = "Index";
}
<link rel="stylesheet" href="~/Styles/table-style.css">
<main>
    <div class="table-box">
        <div style="width:700px;" class="table-row table-head">
            <div  class="table-cell">
                <h3>Ако имате нужда от ремонт по вашата кола, ние сме точното за Вас място!</h3>
            </div>
        </div>
        <div style="width:700px;" class="table-row table-head">
            <div class="table-cell">
                <h4>Довери се на един от нашите професионалисти!</h4>
            </div>
        </div>
        @foreach (User user in Model.Users)
        {
    <div style="width:700px;" class="table-row">
        <div class="table-cell">@user.FirstName</div>
        <div class="table-cell">@user.LastName</div>
        <div class="table-cell">@user.Role</div>

    </div>
        }
        <div style="margin:20px auto; display:table">
            <img style="height:300px;" src="~/Pictures/photo1.jpg" alt="Sample Photo" />
        </div>
    </div>

</main>

